<?xml version="1.0" encoding="UTF-8"?>
<item><menu_title>Latest News</menu_title><menu_title_lenght>25</menu_title_lenght><menu_content_lenght>25</menu_content_lenght><menu_news_num>5</menu_news_num><menu_man>warp</menu_man><news_page_num>5</news_page_num><navigation_type>paginate</navigation_type><news_page>news</news_page><external_comments>on</external_comments><feed_title>Extended News Manager RSS Feed</feed_title><feed_image>http://localhost/GetSimple_3.0/data/uploads/site_logo.gif</feed_image><feed_description>Extended News Manager RSS Feed Description</feed_description><feed_language>en_US</feed_language><feed_encoding>UTF-8</feed_encoding><feed_num>5</feed_num><feed_generator>Extended News Manager RSS Feed </feed_generator><feed_icon>http://localhost/GetSimple_3.0/plugins/extended_news_manager/icons/rss_icon_glass_black32.png</feed_icon><feed_enable>on</feed_enable></item>
